###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_to_a_random_secret
DEFAULT_URI=http://localhost:8000
###< symfony/framework-bundle ###

# MySQL credentials (Docker)
MYSQL_ROOT_PASSWORD=paw_root
MYSQL_DATABASE=paw_db
MYSQL_USER=paw_user
MYSQL_PASSWORD=paw_password

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://paw_user:paw_password@127.0.0.1:3310/paw_db?serverVersion=8.0"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
BREVO_SMTP_USER=your-smtp-user
BREVO_SMTP_PASSWORD=your-smtp-password
MAILER_DSN="smtp://${BREVO_SMTP_USER}:${BREVO_SMTP_PASSWORD}@smtp-relay.brevo.com:587?encryption=tls&auth_mode=login"
MAILER_FROM=your-email@example.com
MAILER_FROM_NAME="Verify Pawhub"
###< symfony/mailer ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1|10\.0\.2\.2)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> symfony/mercure-bundle ###
MERCURE_URL=https://example.com/.well-known/mercure
MERCURE_PUBLIC_URL=https://example.com/.well-known/mercure
MERCURE_JWT_SECRET="!ChangeThisMercureHubJWTSecretKey!"
###< symfony/mercure-bundle ###

OAUTH_GOOGLE_CLIENT_ID=your-google-client-id
OAUTH_GOOGLE_CLIENT_SECRET=your-google-client-secret
OAUTH_GOOGLE_CALLBACK_URL=http://127.0.0.1:8000/connect/google/check

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_run_lexik_jwt_generate_keypair
###< lexik/jwt-authentication-bundle ###
